body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #252a2e;
}

.navbar-brand, .nav-link {
    color: #fff !important;
    position: relative;
}

.nav-link {
    padding: 10px 20px;
    margin: 5px;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #32CD32; /* Green */
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #32CD32 !important; /* Optional: To highlight the text */
}
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-section h1 {
    color: #32CD32; /* Green */
    font-size: 3rem;
    z-index: 2;
    position: relative;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.contact-btn {
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.contact-btn:hover {
    background-color: #28a745;
    color: #000;
}
#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
#about .about-content {
    flex: 1;
    max-width: 100%;
}
#about .carousel-container {
    flex: 1;
    max-width: 50%;
}
#about .carousel-container .carousel {
    perspective: 1000px;
}
#about .carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#about .carousel-item.active img {
    transform: scale(1);
}